.fieldWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.label {
    font-size: 15px;
    font-weight: 500;
    color: #2b2b2b;
    margin-bottom: 8px;
}

.input{
    background-color: rgba(253, 248, 249, 0.9);
    border: 1px solid rgba(210, 168, 168, 0.45);
    border-radius: 12px;
    padding: 10px 12px;
    font-size: 15px;
    width: 315px;
    outline: none;
}