.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: #D0A8A8;
    border: 1px solid rgba(0, 0, 0, 0.4);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 8px;
    color: #2b2b2b;
    transition: all 0.3s ease-in-out;
}

.button p {
    font-size: 12px;
}

.button:hover {
    background-color: #c89898; /* opsional agar terasa interaktif */
    transform: scale(1.02);
}
