.expDate {
    text-align: center;
    font-weight: 700;

    display: inline-block;
    padding: 6px 12px;
    border-radius: 999px;

    background: rgba(255, 120, 120, 0.15);
    color: #b23b3b;
    font-size: 13px;
}
