.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
    width: 100%;
}

.icon {
    font-size: 50px;
    color: red;
}

.text {
    font-size:30px;
}