.cardWrapper {
    max-width: 300px;
    height: 290px;
    background: #fff;
    border-radius: 16px;
    padding: 12px;
    box-shadow: 0 6px 16px rgba(36, 32, 33, 0.5);
    display: flex;
    flex-direction: column;
    gap: 8px;
    transition: transform 0.3s ease-in-out;
}

.cardWrapper:hover {
    transform: scale(1.01);
}

.imageWrapper {
    border: 2px solid black;
    width: 100%;
    aspect-ratio: 3 / 2;
    overflow: hidden;
    border-radius: 12px;
    background: #fbeef2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageWrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cardBody {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-top: 4px;
}

.brand {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: #c76c8b;
}

.productName {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.3;
    max-height: 2.6em; /* batasi 2 baris */
    overflow: hidden;
}

.variant {
    font-size: 12px;
    color: #777;
}

.price {
    margin-top: 4px;
    font-size: 14px;
    font-weight: 700;
    color: #333;
}