.card {
    padding: 10px;
    min-height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 5px 1px black;
    border-radius: 10px;
    background-color: var(--table-bg-volor);
    gap: 10px;
    text-align: center;
}

.productTable {
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;
    color: #2b2b2b;
}

.productTable thead th{
    text-align: center;
    font-weight: 600;
    padding: 8px 12px 16px 12px;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    vertical-align: bottom;
    white-space: nowrap;
    font-size: 12px;
}

.productTable tbody td {
    max-width: 300px;
    padding: 12px;
    text-align: justify;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    text-align: center;
    font-size: 11px;
}
