@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-bg-color: #F7E7E7;
    --secondary-color: #D0A8A8;
    --table-bg-volor: #d8d2cd;
    --font-heading-size: 35px;
}