.overlay {
    position: fixed;
    inset: 0; 
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid rgba(210, 168, 168, 0.35);
    border-radius: 20px;
    padding: 16px;
    min-width: 350px;
    min-height: 350px;
    box-shadow: 0 10px 26px rgba(42, 18, 23, 0.06);
}

.layout {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.addressWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.label {
    font-size: 15px;
    font-weight: 500;
    color: #2b2b2b;
    margin-bottom: 8px;
}

.addressInput{
    background-color: rgba(253, 248, 249, 0.9);
    border: 1px solid rgba(210, 168, 168, 0.45);
    border-radius: 12px;
    padding: 10px 12px;
    font-size: 15px;
    width: 315px;
    height: 150px;
    outline: none;
    resize: none;
}

.btnWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.backBtn {
    gap: 8px;
    height: 30px;
    background-color: #D0A8A8;
    border: 1px solid rgba(0, 0, 0, 0.4);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 8px;
    color: #2b2b2b;
    transition: all 0.3s ease-in-out;
}

.backBtn p {
    font-size: 12px;
}

.backBtn:hover {
    background-color: #c89898; /* opsional agar terasa interaktif */
    transform: scale(1.02);
}
